.modalWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(136, 129, 129);
  z-index: 100;
  position: absolute;
  top: 0;
}

.title {
  display: block;
  text-align: center;
  font-size: 18px;
  width: 100%;
  color: rgb(253, 253, 253);
  margin-bottom: 10px;
}
.formWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.textFieldsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
